<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Sample</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <TABLE>

<TR><TH>ニックネーム</TH>

    <TD>%ニックネーム%</TD></TR>

<TR><TH>メールアドレス</TH>

    <TD>%メールアドレス%</TD></TR>

<TR><TH>都道府県</TH>

    <TD>%都道府県%</TD></TR>

<TR><TH>性別</TH>

    <TD>%性別%</TD></TR>

<TR><TH>年齢帯</TH>

    <TD>%年齢帯%</TD></TR>

<TR><TH>血液型</TH>

    <TD>%血液型%</TD></TR>

</TABLE>

  </body>
</html>