<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Sample</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <form method="post" action="http://deepblue.server">
<input type="hidden" NAME="_template_confirm" VALUE="kakunin.tpl">

<p>ニックネーム<input type="text" name="name"></p>
<p>メールアドレス<input type="text" name="email"></p>
<p>都道府県
  <select name="都道府県">
    <option>北海道</option>
    <option>青森県</option>
    <option>岩手県</option>
    <option>宮城県</option>
    <option>秋田県</option>
    <option>山形県</option>
    <option>福島県</option>
    <option>茨城県</option>
    <option>栃木県</option>
    <option>群馬県</option>
    <option>埼玉県</option>
    <option>千葉県</option>
    <option>東京都</option>
    <option>神奈川県</option>
    <option>新潟県</option>
    <option>富山県</option>
    <option>石川県</option>
    <option>福井県</option>
    <option>山梨県</option>
    <option>長野県</option>
    <option>岐阜県</option>
    <option>静岡県</option>
    <option>愛知県</option>
    <option>三重県</option>
    <option>滋賀県</option>
    <option>京都府</option>
    <option>大阪府</option>
    <option>兵庫県</option>
    <option>奈良県</option>
    <option>和歌山県</option>
    <option>鳥取県</option>
    <option>島根県</option>
    <option>岡山県</option>
    <option>広島県</option>
    <option>山口県</option>
    <option>徳島県</option>
    <option>香川県</option>
    <option>愛媛県</option>
    <option>高知県</option>
    <option>福岡県</option>
    <option>佐賀県</option>
    <option>長崎県</option>
    <option>熊本県</option>
    <option>大分県</option>
    <option>宮崎県</option>
    <option>鹿児島県</option>
    <option>沖縄県</option>
  </select></p>
<p>性別
 <input type="radio" name="性別" value="男" checked="checked" /> 男
 <input type="radio" name="性別" value="女" /> 女</p>
<p>年齢帯
  <select name="年齢帯">
    <option>0～9歳</option>
    <option>10～19歳</option>
    <option>20～29歳</option>
    <option>30～39歳</option>
    <option>40～49歳</option>
    <option>50～59歳</option>
    <option>60～69歳</option>
    <option>70～79歳</option>
    <option>80歳以上</option>
  </select></p>
<p>血液型
 <input type="radio" name="血液型" value="A型" checked="checked" /> A型
 <input type="radio" name="血液型" value="B型" checked="checked" /> B型
 <input type="radio" name="血液型" value="AB型" checked="checked" /> AB型
 <input type="radio" name="血液型" value="O型" /> O型</p>
<input type="submit" value="送信" />
<input type="reset" value="取り消し" />
</form>
  </body>
</html>