<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Sample</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <form method="post" action="http://deepblue.server">
<input type="hidden" NAME="_template_confirm" VALUE="kakunin.tpl">
<p>会員ID<input type="text" name="id"></p>
<p>パスワード<input type="text" name="password"></p>
<input type="submit" value="送信" />
<input type="reset" value="取り消し" />
</form>
  </body>
</html>